<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  
<div class="container-fluid">
  
  <h1>Projects</h1>
   <p>Welcome to projects</p>
<p>My projects are located below:</p>




   
   <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="Assets/images/Python.jpg">
            <img src="Assets/images/Python.jpg" alt="python" style="width:40%">
            <div class="caption">
               <li>
                  Digikala technical support 
                  <p> develope a service support via Python with 3 different categories </p>
                 </li>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="Assets/images/c-sharp.jpg">
            <img src="Assets/images/c-sharp.jpg" alt="c-sharp" style="width:40%">
            <div class="caption">
               <li> Civil enginnering project<p>
                  develope a project of th website for a 60 floor bulding with GUI in C# with front end 
               </p>
                  </li>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="Assets/images/javascript.jpg">
            <img src="Assets/images/javascript.jpg" alt="javascript" style="width:60%">
            <div class="caption">
               <li>Maiz latin food online menu<p>
                  wrote an online menu with different features  which can be reached by QR code with java script 
                  </p></li>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%>

