/* custom css goes here *//* custom css*/
/* <!-- Full Name:ramin beiramzadegan  Student Id:301254240 -->  */

body{
    padding-left: 25px;
    padding-right: 25px;
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
}
.navbar{
    background-color: gray;
    
}
.navbar li {
    font-size: 20px;
}


.btn{
    margin-top:30px ;
    background-color: coral;
}
.foot{
    padding-left: 45%;
  
    
    /* padding-left: 45%;
    margin-bottom: 10px;
    margin-top: 10px; */
}





